{% extends 'base.html' %}
{% block title %}
    用户中心
{% endblock %}
{% block content %}
    <div class="container">
        <h2>用户中心</h2>
        <hr>
        <span>用户名:{{ request.user.username }}</span><br>
        <span>昵称:{{ request.user.nick_name }}</span>
        <a data-toggle="modal" data-target="#updateNickNameModal" href="#"> 修改昵称</a><br>
        <span>邮箱:{{ request.user.email }}</span>
        <a data-toggle="modal" data-target="#updateMailModal" href="#"> 修改绑定邮箱</a><br>
        <span>激活状态:{{ request.user.is_active }}</span><br>


        <!-- 模态框（Modal）修改绑定邮箱 -->
        <div class="modal fade" id="updateMailModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">修改绑定邮箱</h4>
                    </div>
                    <div class="modal-body" id="changeEmailModalBody">
                        <p>输入新的邮箱，并发送验证到新邮箱，点击链接完成绑定邮箱的修改</p>
                        <form class="form">
                            <div class="form-group">
                                <label for="newEmail">新的邮箱:</label>
                                <input type="email" class="form-control" id="newEmail" placeholder="请输入新的邮箱">
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary btn-block" id="sendEmail">发送邮件</button>
                        <br>
                        <div id="alertChangeEmail" class="alert"></div>
                        <form class="form">
                            <label for="verificationCode">验证码:</label>
                            <input type="email" class="form-control" id="verificationCode" placeholder="请输入收到的验证码">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" id="submitUpdateEmail">修改邮箱</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Modal）修改昵称 -->
        <div class="modal fade" id="updateNickNameModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">修改昵称</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form">
                            <div class="form-group">
                                <label for="newNickName">新的昵称:</label>
                                <input type="text" class="form-control" id="newNickName" placeholder="请输入新的昵称">
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary btn-block" id="btnUpdateNickName">修改</button>
                        <br>
                        <div id="alertUpdateNickName" class="alert"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>{#    end of container#}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        var currentAjax = 0;
        var $alertUpdateMail = $('#alertChangeEmail');
        var $alertUpdateNickName = $('#alertUpdateNickName');

        $.ajaxSetup({
            type: 'post',
            dataType: 'json',
            headers: {"X-CSRFtoken": '{{ csrf_token }}'}
        })
        // 发送修改邮箱邮件
        $('#sendEmail').click(function () {
            currentAjax = 1;
            $.ajax({
                url: '{% url 'users:send_change_email' %}',
                data: {'email': $('#newEmail').val()},
                success: function (data) {
                    $alertUpdateMail.removeClass()
                    if (data.status == 'success') {
                        $alertUpdateMail.addClass('alert alert-success')
                        $alertUpdateMail.html('向' + data.new_email + '验证邮件发送成功')
                    }
                    else {
                        $alertUpdateMail.addClass('alert alert-danger')
                        $alertUpdateMail.html(data.error_msg)
                    }
                    $alertUpdateMail.show()
                }
            })
        })

        // 提交验证码
        $('#submitUpdateEmail').click(function () {
            currentAjax = 2;
            $.ajax({
                url: '{% url 'users:update_email' %}',
                data: {
                    'code': $('#verificationCode').val(),
                    'userId': '{{ request.user.id }}'
                },
                success: function (data) {
                    if (data.status == 'success') {
                        window.location.reload()
                    }
                    else {
                        $alertUpdateMail.removeClass()
                        $alertUpdateMail.addClass('alert alert-danger')
                        $alertUpdateMail.html('邮箱修改失败，请确认验证码')
                    }
                }
            })
        })

        // ajaxStart
        $(document).ajaxStart(function () {
            if (currentAjax == 1) {
                $alertUpdateMail.removeClass()
                $alertUpdateMail.addClass('alert alert-warning')
                $alertUpdateMail.html('等待中...')
            }
        })

        //修改昵称
        $('#btnUpdateNickName').click(function () {
            currentAjax = 3;
            $.ajax({
                url: '{% url 'users:update_nickname' %}',
                data: {
                    'new_nickname': $('#newNickName').val(),
                },
                success: function (data) {
                    if (data.status == 'success') {
                        window.location.reload()
                    }
                    else {
                        $alertUpdateNickName.removeClass()
                        $alertUpdateNickName.addClass('alert alert-danger')
                        $alertUpdateNickName.html(data.error_msg)
                    }
                }
            })
        })


    </script>

{% endblock %}