{% extends 'base.html' %}
{% block title %}
    我的原型
{% endblock %}
{% block content %}
    <div class="container">
        <h2>我的原型</h2>
        <hr>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>原型ID</th>
                <th>原型名称</th>
                <th>所属项目</th>
                <th>所属用户</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for prototype in prototypes %}
                <tr>
                    <td>{{ prototype.id }}</td>
                    <td>{{ prototype.name }}</td>
                    <td>{{ prototype.project.name }}</td>
                    <td>{{ prototype.user.nick_name }}</td>
                    <td>{{ prototype.update_time }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'main:prototype_detail' prototype.id %}">查看详情</a>
                        <a class="btn btn-info btn-sm" href="{% url 'main:prototype_edit' prototype.id %}">编辑</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'main:prototype_delete' prototype.id %}">删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}