{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    可视化数据(尝鲜版)-大麦盒子活跃用户分布
{% endblock %}
{% block custom_css %}
    <style type="text/css">
        .main_chart {
            height: 800px;
            width: 100%;
            border: 5px dashed #333;
        }

        .total-others {
            border: 2px solid #34495e;
            margin: 20px 0;
        }

        .total {
            font-size: 32px;
        }

        .total > div:first-child {
            font-size: 50px;
        }

        .main-number {
            color: red;
        }

        .total-dt {
            text-align: right;
            display: inline-block;
            width: 40%;
        }

        .total-dd {
            text-align: left;
            display: inline-block;

        }

        .select-days {
            height: 55px;
            width: 200px;
            text-indent: 5px;
        }

        .other {
            overflow-y: scroll;
            height: 350px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>大麦盒子开机统计</h2>
        <hr>
        <div class="total-others">
            <div class="row">
                <div class="col-md-6">
                    <div class="total">
                        <div>
                            <dt class="total-dt">总开机量:</dt>
                            <dd class="total-dd main-number">{{ domy2_total|add:domy3_total }}</dd>
                        </div>
                        <div>
                            <dt class="total-dt">统计时间:</dt>
                            <dd class="total-dd">
                                <select class="select-days">
                                    <option value="1">昨日</option>
                                    <option value="7">最近7日</option>
                                    <option value="30">最近30日</option>
                                    <option value="60">最近60日</option>
                                </select>
                            </dd>
                        </div>
                        <div>
                            <dt class="total-dt">3.0UI:</dt>
                            <dd class="total-dd">{{ domy3_total }}</dd>
                        </div>
                        <div>
                            <dt class="total-dt">2.0UI:</dt>
                            <dd class="total-dd">{{ domy2_total }}</dd>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p style="margin: 0;">地图外数据:</p>
                    <div class="other">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>分公司名称</th>
                                <th>UI2.0开机数</th>
                                <th>UI3.0开机数</th>
                                <th>合计</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for other in others %}
                                <tr>
                                    <td>{{ other.0 }}</td>
                                    <td>{{ other.1 }}</td>
                                    <td>{{ other.2 }}</td>
                                    <td>{{ other.1 |add:other.2 }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

        <div class="chart-box">
            <div class="main_chart" id="main"></div>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/china.js' %}"></script>

    <script>
        var chinaMap = echarts.init(document.getElementById('main'))

        var dataDomyUi = {{ json_for_map | safe }}


            function parseValue(l) {
                var domy2 = 0, domy3 = 0;
                var value = l[2];
                var tooltip = '';

                for (var v in value) {
                    domy2 += value[v].domy2;
                    domy3 += value[v].domy3;
                    tooltip += value[v].company + '<br>' + 'DomyUI2:' + domy2 + '<br>' + 'DomyUI3:' + domy3 + '<br>'
                }
                var total = domy2 + domy3;
                tooltip += '<hr>合计:' + total + '';
                return [total, tooltip]
            }

        option = {
//        backgroundColor: '#404a59',
//            title: {
//                text: '顶部主标题',
//                subtext: '顶部副标题',
//                left: 'center',//位置
//                textStyle: {
//                    // 主标题标题颜色，副标题是灰的
//                    color: '#123'
//
//                }
//            },
            // 全局提示框
            tooltip: {
                trigger: 'item',
                formatter: function (obj) {
                    var text = obj.name + '<hr>' + parseValue(obj.value)[1];
                    return text
                }
            },
            // 图例
            legend: {
                orient: 'vertical',
                y: 'bottom',
                x: 'right',
                // 图例数据对应series数据name，数组像可为字符串，也可以用对象
                data: ['大麦UI开机量'],
                textStyle: {
//                color: '#fff'
                }
            },
            geo: {
                //geo地图组件
                map: 'china',
                // 省份标签
                label: {
                    // 高亮状态下是否显示
                    emphasis: {
                        show: false
                    }
                },
                scaleLimit: {
                    min: 1.2
                },
                center: [110, 35],
                zoom: 1.4,
                //鼠标平移漫游
                roam: true,
                // 地图区域多边形样式
                itemStyle: {
                    normal: {
                        //地图颜色
//                    areaColor: '#323c48',
                        //省份边框
//                    borderColor: '#111'
                    },
                    emphasis: {
                        //高亮省份颜色
//                    areaColor: '#2a333d'
                    }
                }
            },
            // 系列列表，每个列表由type决定类型
            series: [
                {
                    name: '大麦UI开机量', // 用户tooltip显示
                    type: 'effectScatter',
                    coordinateSystem: 'geo', //坐标系，geo为地理坐标系
                    {#                    rippleEffect:{brushType:'stroke'},#}
                    // 数据,二维数组
                    // data:[[x,y,other1,other2],...]
                    data: dataDomyUi,

                    // 标记大小
                    symbolSize: function (value) {
                        var res = Math.sqrt(parseValue(value)[0]) / 5;
                        if (res < 5) res = 5;
                        return res
                    },

                    //数据标签
                    label: {
                        normal: {
                            formatter: '{b}', //{a}{b}{c}系列名、数据名、数据值
                            position: 'right',
                            show: false
                        },
                        emphasis: {
                            //高亮状态下
                            show: true
                        }
                    },
                    // 图形样式
                    itemStyle: {
                        normal: {
//                        color: '#ddb926'
                        }
                    }
                },
            ]
        };

        chinaMap.setOption(option)
    </script>
{% endblock %}










</body>
</html>