{% extends 'base.html' %}
{% load static %}
{% block title %}
    使用说明
{% endblock %}

{% block content %}
    <div class="container">
        <h2>使用说明</h2>
        <hr>
        <h4>原型打包</h4>
        <p>上传原型必须为zip压缩包，压缩为Axsure生成的文件夹直接压缩</p>
        <p>一个压缩包只包含一个原型文件夹，文件夹中要包含index.html</p>
        <p>压缩的文件夹请使用英文</p>
        <img src="{% static 'img/introduct_0.png' %}" alt="">
        <hr>
        <h4>上传原型</h4>
        <p>原型名称、所属项目、原型文件（zip）为必填。</p>
        <p>所属项目为选择框，如果没有，点击创建用户所属的项目</p>
        <img src="{% static 'img/introduct_1.png' %}" alt="">
        <hr>
        <h4>原型详情</h4>
        <p>可以查看原型的详情，点击按钮可以打开上传的原型</p>
        <img src="{% static 'img/introduct_2.png' %}" alt="">
        <hr>
        <h4>我的原型</h4>
        <p>点击右上角用户名，可以进入我的原型，添加、编辑、删除原型</p>
        <img src="{% static 'img/introduct_3.png' %}" alt="">
        <hr>
        <h4>编辑原型</h4>
        <p>编辑原型可以修改原型项目、原型名称、原型说明、原型图片，但是暂时不支持替换原型文件</p>
        <p>如果想替换原型文件，删了之前的，再上传一次</p>
        <img src="{% static 'img/introduct_4.png' %}" alt="">


        <h2>版本</h2>
        <hr>
        {% for version in all_versions %}
            <h4>{{ version.version_number }}</h4>
            <p>{{ version.version_update_time }}</p>
            <p>{{ version.desc }}</p>
        {% endfor %}
    </div>{#end of container#}
{% endblock %}